# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment / secrets
.env
*.env

# Database (jeśli używasz SQLite lokalnie)
*.db

# Logs
*.log

# Testy i cache
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*.yml

# Build / dist
dist/
build/

# Other
tests/
migrations/__pycache__/